body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: transparent;
    padding: 10px;
    margin: 5px 0;
   

}

